---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Page not found - 404 error" desc="The page is not found">
  <main class="grid h-screen px-4 bg-white place-content-center">
    <section class="text-center w-fit">
      <h1 class="m-auto font-black text-9xl text-color-4">404</h1>

      <p class="pl-12 w-fit text-2xl font-bold font-heading tracking-[3rem]">
        error
      </p>

      <p class="mt-10 opacity-90">Page not found.</p>

      <a
        href="/"
        class="inline-block px-5 py-3 mt-6 text-sm font-heading font-bold bg-color-4 text-color-3 rounded hover:bg-opacity-80 focus:outline-none focus:ring"
      >
        Go Back Home
      </a>
    </section>
  </main>
</Layout>
