---
import { BtnPrimary } from "@components/Button";
import Page from "@layouts/Page.astro";
---

<Page lang="es" title="Page not found - 404 error" desc="The page is not found">
  <main class="grid h-screen px-4 bg-white place-content-center">
    <section class="text-center w-fit">
      <h1 class="m-auto font-black text-9xl text-color-4">404</h1>

      <p class="pl-12 w-fit text-2xl font-bold font-heading tracking-[3rem]">
        error
      </p>

      <p class="mt-10 opacity-90">Página no encontrada.</p>

      <BtnPrimary href="/" content="Volver al inicio" />
    </section>
  </main>
</Page>
