---
const { title, desc } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={desc}>
	</head>
	<body class="font-body bg-color-2 text-color-1">
		<slot />
	</body>
</html>
<style is:global>
	@font-face {
		font-family: "Raleway";
		src: url("/fonts/Raleway-Bold.woff2"), url("/fonts/Raleway-Medium.woff2");
	}

	@font-face {
		font-family: "Roboto Mono";
		src: url("/fonts/RobotoMono-Regular.woff2"), url("/fonts/RobotoMono-Medium.woff2"),
			url("/fonts/RobotoMono-Light.woff2");
	}

	*::selection {
		color: #ffffff;
		background-color: #f0a500;
	}
</style>
